<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>NiuBi666</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./home/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" href="./layui/images/photo/NiuBi666_圆形.png">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<img src="./layui/images/photo/NiuBi666_圆形.png" class="logo">
						</div>
						<div class="content">
							<div class="inner">
								<h1>欢迎访问niubi666.cn</h1>
								<p>本网站旨在为用户提供更多免费、优质、易用的工具，欢迎使用。<a href="https://niubi666.cn/"></a></p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="/office/fileToBase64">文件转Base64</a></li>
								<li><a href="/office/base64ToFile">Base64转文件</a></li>
								<li><a href="/office/fileTrans">PDF文件格式转换</a></li>
								<li><a href="#develop">更多功能...</a></li>
								<li><a href="#myself">联系网站开发者</a></li>
							</ul>
						</nav>
					</header>
				<!-- Main -->
				<div id="main">

					<!-- develop -->
					<article id="develop">
						<h2 class="major">更多功能正在开发中</h2>
						<span class="image main">
<!--							<img src="./home/images/pic01.jpg" alt="微信扫描添加好友"/>-->
						</span>
						<p>更多功能正在加班开发中，如有需求请联系网站开发者，谢谢支持！</p>
						<!--						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>-->
					</article>

					<!-- myself -->
					<article id="myself">
						<h2 class="major">联系网站开发者</h2>
						<span class="image main">
							<img src="./home/images/myself.jpg" alt="微信扫描添加好友"/>
						</span>
						<p>微信扫描添加好友，请备注来自niubi666.cn</p>
<!--						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.</p>-->
					</article>
				</div>


				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Design: <a href="https://niubi666.cn">NiuBi666</a></p>
					</footer>

			</div>

		<!-- BG -->
		<div id="bg"></div>

		<!-- Scripts -->
			<script src="./home/assets/js/jquery.min.js"></script>
			<script src="./home/assets/js/browser.min.js"></script>
			<script src="./home/assets/js/breakpoints.min.js"></script>
			<script src="./home/assets/js/util.js"></script>
			<script src="./home/assets/js/main.js"></script>

	</body>
</html>
